
      #ele{
        background-color: #797979;
        color: #fff;
        width: 300px;
        height:100px;
        cursor: move;
        position: relative;
        padding: 10px;
      }


.question {
height:50px;
width:300px;
color:lightgrey;
overflow:hidden;
position:absolute;
right:0px;
top:50px;

}

.question:hover {
';echo"";echo '
height:350px;
width:300px;
color:black;
top:50px;
right:0px;
position:absolute;
background-color:white;
text-align:left;
z-index:2000;

 -moz-transition:width 0.3s, height 0.3s, background-color 0.3s, -moz-transform 0.3s;
    -webkit-transition:width 0.3s, height 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    -o-transition:width 0.3s, height 0.3s, background-color 0.3s, -o-transform 0.3s;
    transition:width 0.3s, height 0.3s, background-color 0.3s, transform 0.3s;
}


.question textarea {
width:180px;
}
.question input {
width:140px;
}


#header-text

{
font-size:72px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight:100;
}

#main-body

{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
'; echo "


background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


";
echo '
';echo " 
}
#temple1 {

background: rgb(210,255,82); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
height:500px;
width:500px;
font-size:50px;
}

#temple2 {

background: rgb(210,255,82); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
height:500px;
width:500px;
font-size:50px;

}


#temple3 {

background: rgb(210,255,82); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
height:500px;
width:500px;
font-size:50px;

}


#temple8 {

background: rgb(210,255,82); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
height:500px;
width:500px;
font-size:50px;

}



#temple4 {

background: rgb(210,255,82); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
height:500px;
width:500px;
font-size:50px;

}

#temple7 {

/*style*/
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #91E842 100%);
/* IE 10 Consumer Preview */
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #91E842 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FFFFFF 0%, #91E842 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #91E842)); 
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #91E842 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #FFFFFF 0%, #91E842 100%);
height:500px;
width:500px;
font-size:50px;

}



#temple9 {

background-image: -moz-linear-gradient(top right, #FFFFFF 0%, #61A0E8 100%);/* IE 10 Consumer Preview */
background-image: -ms-linear-gradient(top right, #FFFFFF 0%, #61A0E8 100%);
/* Opera */
background-image: -o-linear-gradient(top right, #FFFFFF 0%, #61A0E8 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #61A0E8)); 
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #61A0E8 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom left, #FFFFFF 0%, #61A0E8 100%);
height:500px;
width:500px;
font-size:50px;

}


#temple10 {

/*style*/
background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #E86DA2 100%);/* IE 10 Consumer Preview */
background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #E86DA2 100%);
/* Opera */
background-image: -o-linear-gradient(top left, #FFFFFF 0%, #E86DA2 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #E86DA2)); 
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #E86DA2 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom right, #FFFFFF 0%, #E86DA2 100%);
height:500px;
width:500px;
font-size:50px;

}

";echo '


h2
{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight:100;
}


#client5

{height:700px;width:900px;}

#client4

{height:700px;width:900px;}

#client3

{height:700px;width:900px;}

#idone

{height:700px;width:900px;}

#client2

{height:700px;width:900px;}

#client1

{height:700px;width:900px;
 -moz-transition:width 1s, height 1s, background-color 1s, display 1s, -moz-transform 1s;
    -webkit-transition:width 1s, height 1s, background-color 1s,display 1s,  -webkit-transform 1s;
    -o-transition:width 1s, height 1s, background-color 1s,display 1s,  -o-transform 1s;
    transition:width 1s, height 1s, background-color 1s, display 1s, transform 1s;}


#help

{height:700px;width:500px;}

#yay1 select 

{


}


#yay1
{
	overflow:hidden;
	padding: 5px;
	width: 485px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}


#plugin-title {
  background-image: url(http://www.therecipeminute.com/header.png);
}


#yay1:focus
{
border: 2px solid #900;
}



#idone input, #contact-area textarea {
	padding: 5px;
	width: 200px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#idone textarea {
	height:179px;width:320px;border: 2px solid #ccc;
}

#idone textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#idone input.submit-button {
	width: 100px;
	float: right;
}

#idone label {
	float: left;
	text-align: left;
	width: 100px;
	padding-top: 5px;
	font-size: 1.0em;
	margin-left:50px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight:200;
}

#x {
	background-color: #bdb;
	color: #363;
	}



#y {
	background-color: #bcd;
	color: #258;
	}


#blur {
	background-color: #dbb;
	color: #933;
	}



#horizontal_length {
	background-color: #bdb;
	color: #363;
	}

#vertical_length {
	background-color: #bcd;
	color: #258;
	}

#blur_radius {
	background-color: #dbb;
	color: #933;
	}

#spread {
	background-color: #d9bbdb;
	color: #8d3393;
	}


#top_left {
	background-color: #bdb;
	color: #363;
	}

#top_right {
	background-color: #bcd;
	color: #258;
	}

#bottom_left {
	background-color: #dbb;
	color: #933;
	}

#bottom_right {
	background-color: #d9bbdb;
	color: #8d3393;
	}

#skew_x {
	background-color: #bdb;
	color: #363;
	}

#skew_y {
	background-color: #ddddbc;
	color: #888525;
	}

#scale {
	background-color: #bdb;
	color: #363;
	}

#rotate {
	background-color: #bcd;
	color: #258;
	}

#translate_x {
	background-color: #dbb;
	color: #933;
	}

#translate_y {
	background-color: #d9bbdb;
	color: #8d3393;
	}


#the_first_color_number {
	background-color: #ffffff;
	}

#the_second_color_number {
	background-color: #91e842;
	}





#the_first_color_number2 {
	background-color: #ffffff;
	}

#the_second_color_number2 {
	background-color: #61A0E8;
	}



#the_first_color_number3 {
	background-color: #ffffff;
	}

#the_second_color_number3 {
	background-color: #E86DA2;
	}





.flap {
	font-size:35px;
	}


.to-top
{
display:inline-block;
height:50px;
width:50px;

/*style*/
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FFFFFF 30%, #91E842 100%);
/* IE 10 Consumer Preview */
background-image: -ms-linear-gradient(top, #FFFFFF 30%, #91E842 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FFFFFF 30%, #91E842 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #91E842)); 
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FFFFFF 30%, #91E842 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #FFFFFF 30%, #91E842 100%);
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}

.top-right
{

display:inline-block;
height:50px;
width:50px;

/*style*/
background-image: -moz-linear-gradient(top right, #FFFFFF 30%, #61A0E8 100%);/* IE 10 Consumer Preview */
background-image: -ms-linear-gradient(top right, #FFFFFF 30%, #61A0E8 100%);
/* Opera */
background-image: -o-linear-gradient(top right, #FFFFFF 30%, #61A0E8 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #61A0E8)); 
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top right, #FFFFFF 30%, #61A0E8 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom left, #FFFFFF 30%, #61A0E8 100%);
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}


.top-left
{

display:inline-block;
height:50px;
width:50px;

/*style*/
background-image: -moz-linear-gradient(top left, #FFFFFF 30%, #E86DA2 100%);/* IE 10 Consumer Preview */
background-image: -ms-linear-gradient(top left, #FFFFFF 30%, #E86DA2 100%);
/* Opera */
background-image: -o-linear-gradient(top left, #FFFFFF 30%, #E86DA2 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #E86DA2)); 
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top left, #FFFFFF 30%, #E86DA2 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom right, #FFFFFF 30%, #E86DA2 100%);
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;


}







*.horizontal_track {
	background-color: #bbb;
	width: 200px;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	padding: 4px;
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}
*.horizontal_slider {
	background-color: #666;
	width: 30px;
	height: 50px;
	position: relative;
	z-index: 2;
	line-height: 0;
	margin: 0;
	border: 2px solid;
	border-color: #999 #333 #333 #999;
}
*.horizontal_slit {
	background-color: #333;
	width: 190px;
	height: 45px;
	margin: 4px 4px 2px 4px;
	line-height: 0;
	position: absolute;
	z-index: 1;
	border: 1px solid;
	border-color: #999 #ddd #ddd #999;
}
*.vertical_track {
	background-color: #bbb;
	padding: 3px 5px 15px 5px;
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}
*.vertical_slider {
	background-color: #666;
	width: 18px;
	height: 8px;
	font: 0px;
	text-align: left;
	line-height: 0px;
	position: relative;
	z-index: 1;
	border: 2px solid;
	border-color: #999 #333 #333 #999;
}
*.vertical_slit {
	background-color: #000;
	width: 2px;
	height: 100px;
	position: absolute;
	margin: 4px 10px 4px 10px;
	padding: 4px 0 1px 0;
	line-height: 0;
	font-size: 0;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
}
*.display_holder {
	margin-top:20px;
	float:right;
	background-color: #bbb;
	color: #fff;
	width: 50px;
	text-align: right;
	padding: 0;
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}
.value_display {

	background-color: #bbb;
	color: #333;
	width: 45px;
	margin: 0 2px;
	text-align: right;
	font-size: 15pt;
	font-face: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	line-height: 12px;
	border: 0;
	cursor: default;
}




#horizontal_slider_7 {
	background-color: #ffffff;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_track_7, #display_holder_7 {
	background-color: #dbdbdb;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_slit_7 {
	background-color: #fff;
	border-color: #bababa #e2e2e2 #e2e2e2 #bababa;
	}
#value_display_7 {
	background-color: #d9bbdb;
	color: #bababa;
	}





#horizontal_slider_1 {
	background-color: #696;
	border-color: #9c9 #363 #363 #9c9;
	}
#horizontal_track_1, #display_holder_1 {
	background-color: #bdb;
	border-color: #ded #9a9 #9a9 #ded;
	}
#horizontal_slit_1 {
	background-color: #fff;
	border-color: #9a9 #ded #ded #9a9;
	}
#value_display_1 {
	background-color: #bdb;
	color: #363;
	}
#horizontal_slider_2 {
	background-color: #369;
	border-color: #69c #036 #036 #69c;
	}
#horizontal_track_2, #display_holder_2 {
	background-color: #bcd;
	border-color: #def #9ab #9ab #def;
	}
#horizontal_slit_2 {
	background-color: #fff;
	border-color: #9ab #def #def #9ab;
	}
#value_display_2 {
	background-color: #bcd;
	color: #258;
	}
#horizontal_slider_3 {
	background-color: #c33;
	border-color: #f66 #933 #933 #f66;
	}
#horizontal_track_3, #display_holder_3 {
	background-color: #dbb;
	border-color: #fdd #b99 #b99 #fdd;
	}
#horizontal_slit_3 {
	background-color: #fff;
	border-color: #b99 #fdd #fdd #b99;
	}
#value_display_3 {
	background-color: #dbb;
	color: #933;
	}
#horizontal_slider_5 {
	background-color: #9233c3;
	border-color: #bb66f1 #8d3393 #8d3393 #bb66f1;
	}
#horizontal_track_5, #display_holder_5 {
	background-color: #d9bbdb;
	border-color: #fcddfd #b699b9 #b699b9 #fcddfd;
	}
#horizontal_slit_5 {
	background-color: #fff;
	border-color: #b699b9 #fcddfd #fcddfd #b699b9;
	}
#value_display_5 {
	background-color: #d9bbdb;
	color: #8d3393;
	}
	


.flap {
	font-size:35px;
	}




#horizontal_slider_51 {
	background-color: #9233c3;
	border-color: #bb66f1 #8d3393 #8d3393 #bb66f1;
	}
#horizontal_track_51, #display_holder_51 {
	background-color: #d9bbdb;
	border-color: #fcddfd #b699b9 #b699b9 #fcddfd;
	}
#horizontal_slit_51 {
	background-color: #fff;
	border-color: #b699b9 #fcddfd #fcddfd #b699b9;
	}
#value_display_51 {
	background-color: #d9bbdb;
	color: #8d3393;
	}

#horizontal_slider_11 {
	background-color: #696;
	border-color: #9c9 #363 #363 #9c9;
	}
#horizontal_track_11, #display_holder_11 {
	background-color: #bdb;
	border-color: #ded #9a9 #9a9 #ded;
	}
#horizontal_slit_11 {
	background-color: #fff;
	border-color: #9a9 #ded #ded #9a9;
	}
#value_display_11 {
	background-color: #bdb;
	color: #363;
	}
#horizontal_slider_21 {
	background-color: #369;
	border-color: #69c #036 #036 #69c;
	}
#horizontal_track_21, #display_holder_21 {
	background-color: #bcd;
	border-color: #def #9ab #9ab #def;
	}
#horizontal_slit_21 {
	background-color: #fff;
	border-color: #9ab #def #def #9ab;
	}
#value_display_21 {
	background-color: #bcd;
	color: #258;
	}
#horizontal_slider_31 {
	background-color: #c33;
	border-color: #f66 #933 #933 #f66;
	}
#horizontal_track_31, #display_holder_31 {
	background-color: #dbb;
	border-color: #fdd #b99 #b99 #fdd;
	}
#horizontal_slit_31 {
	background-color: #fff;
	border-color: #b99 #fdd #fdd #b99;
	}
#value_display_31 {
	background-color: #dbb;
	color: #933;
	}







#horizontal_slider_73 {
	background-color: #c3c133;
	border-color: #f1ef66 #939233 #939233 #f1ef66;
	}
#horizontal_track_73, #display_holder_73 {
	background-color: #dbdabb;
	border-color: #fdfddd #b9b999 #b699b9 #fdfddd;
	}
#horizontal_slit_73 {
	background-color: #fff;
	border-color: #b699b9 #fdfddd #fdfddd #b699b9;
	}
#value_display_73 {
	background-color: #dbdabb;
	color: #939033;
	}





#horizontal_slider_63 {
	background-color: #696;
	border-color: #9c9 #363 #363 #9c9;
	}
#horizontal_track_63, #display_holder_63 {
	background-color: #bdb;
	border-color: #ded #9a9 #9a9 #ded;
	}
#horizontal_slit_63 {
	background-color: #fff;
	border-color: #9a9 #ded #ded #9a9;
	}
#value_display_63 {
	background-color: #bdb;
	color: #363;
	}


#horizontal_slider_53 {
	background-color: #9233c3;
	border-color: #bb66f1 #8d3393 #8d3393 #bb66f1;
	}
#horizontal_track_53, #display_holder_53 {
	background-color: #d9bbdb;
	border-color: #fcddfd #b699b9 #b699b9 #fcddfd;
	}
#horizontal_slit_53 {
	background-color: #fff;
	border-color: #b699b9 #fcddfd #fcddfd #b699b9;
	}
#value_display_53 {
	background-color: #d9bbdb;
	color: #8d3393;
	}


#horizontal_slider_71 {
	background-color: #91E842;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_track_71, #display_holder_71 {
	background-color: #dbdbdb;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_slit_71 {
	background-color: #fff;
	border-color: #bababa #e2e2e2 #e2e2e2 #bababa;
	}
#value_display_71 {
	background-color: #d9bbdb;
	color: #bababa;
	}




#horizontal_slider_8 {
	background-color: #91E842;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_track_8, #display_holder_8 {
	background-color: #dbdbdb;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_slit_8 {
	background-color: #fff;
	border-color: #bababa #e2e2e2 #e2e2e2 #bababa;
	}
#value_display_8 {
	background-color: #d9bbdb;
	color: #bababa;
	}





#horizontal_slider_81 {
	background-color: #91E842;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_track_81, #display_holder_81 {
	background-color: #dbdbdb;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_slit_81 {
	background-color: #fff;
	border-color: #bababa #e2e2e2 #e2e2e2 #bababa;
	}
#value_display_81 {
	background-color: #d9bbdb;
	color: #bababa;
	}






#horizontal_slider_9 {
	background-color: #ffffff;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_track_9, #display_holder_9 {
	background-color: #dbdbdb;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_slit_9 {
	background-color: #fff;
	border-color: #bababa #e2e2e2 #e2e2e2 #bababa;
	}
#value_display_9 {
	background-color: #d9bbdb;
	color: #bababa;
	}







#horizontal_slider_91 {
	background-color: 61A0E8#;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_track_91, #display_holder_91 {
	background-color: #dbdbdb;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_slit_91 {
	background-color: #fff;
	border-color: #bababa #e2e2e2 #e2e2e2 #bababa;
	}
#value_display_91 {
	background-color: #d9bbdb;
	color: #bababa;
	}




#horizontal_slider_10 {
	background-color: #ffffff;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_track_10, #display_holder_10 {
	background-color: #dbdbdb;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_slit_10 {
	background-color: #fff;
	border-color: #bababa #e2e2e2 #e2e2e2 #bababa;
	}
#value_display_10 {
	background-color: #d9bbdb;
	color: #bababa;
	}







#horizontal_slider_101 {
	background-color: #E86DA2;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_track_101, #display_holder_101 {
	background-color: #dbdbdb;
	border-color: #e2e2e2 #bababa #bababa #e2e2e2;
	}
#horizontal_slit_101 {
	background-color: #fff;
	border-color: #bababa #e2e2e2 #e2e2e2 #bababa;
	}
#value_display_101 {
	background-color: #d9bbdb;
	color: #bababa;
	}








#horizontal_slider_13 {
	background-color: #696;
	border-color: #9c9 #363 #363 #9c9;
	}
#horizontal_track_13, #display_holder_13 {
	background-color: #bdb;
	border-color: #ded #9a9 #9a9 #ded;
	}
#horizontal_slit_13 {
	background-color: #fff;
	border-color: #9a9 #ded #ded #9a9;
	}
#value_display_13 {
	background-color: #bdb;
	color: #363;
	}
#horizontal_slider_23 {
	background-color: #369;
	border-color: #69c #036 #036 #69c;
	}
#horizontal_track_23, #display_holder_23 {
	background-color: #bcd;
	border-color: #def #9ab #9ab #def;
	}
#horizontal_slit_23 {
	background-color: #fff;
	border-color: #9ab #def #def #9ab;
	}
#value_display_23 {
	background-color: #bcd;
	color: #258;
	}
#horizontal_slider_33 {
	background-color: #c33;
	border-color: #f66 #933 #933 #f66;
	}
#horizontal_track_33, #display_holder_33 {
	background-color: #dbb;
	border-color: #fdd #b99 #b99 #fdd;
	}
#horizontal_slit_33 {
	background-color: #fff;
	border-color: #b99 #fdd #fdd #b99;
	}
#value_display_33 {
	background-color: #dbb;
	color: #933;
	}



#horizontal_slider_12 {
	background-color: #696;
	border-color: #9c9 #363 #363 #9c9;
	}
#horizontal_track_12, #display_holder_12 {
	background-color: #bdb;
	border-color: #ded #9a9 #9a9 #ded;
	}
#horizontal_slit_12 {
	background-color: #fff;
	border-color: #9a9 #ded #ded #9a9;
	}
#value_display_12 {
	background-color: #bdb;
	color: #363;
	}
#horizontal_slider_22 {
	background-color: #369;
	border-color: #69c #036 #036 #69c;
	}
#horizontal_track_22, #display_holder_22 {
	background-color: #bcd;
	border-color: #def #9ab #9ab #def;
	}
#horizontal_slit_22 {
	background-color: #fff;
	border-color: #9ab #def #def #9ab;
	}
#value_display_22 {
	background-color: #bcd;
	color: #258;
	}
#horizontal_slider_32 {
	background-color: #c33;
	border-color: #f66 #933 #933 #f66;
	}
#horizontal_track_32, #display_holder_32 {
	background-color: #dbb;
	border-color: #fdd #b99 #b99 #fdd;
	}
#horizontal_slit_32 {
	background-color: #fff;
	border-color: #b99 #fdd #fdd #b99;
	}
#value_display_32 {
	background-color: #dbb;
	color: #933;
	}
